
.my-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #FFC831;
    
}

.small-circle{
    width: 30px;
    height: 30px;
    margin-top: 150px;
    border-radius: 50%;
    background-color: #3BCEC8;
  }
  .icon{
      height: 100px;
      width: 100px;
      border-radius: 30%;
      background-color: #FFC831;
      box-shadow: inset 0 0 0 5px white ;
      padding: 5px;
  }

  #name{
      font-size: 33px;
      font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3C5E9B;
  }

  .profession{
    color: #707070;
    font-weight: normal;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    
  }
  .address{
    color: #A8A8A8;
    font-size: 18px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
  }
  .details{
      color: #707070;
      font-size: 16px;
      font-family: Roboto;
      font-weight: normal;
     
  }
 
  
  .tech-class{
      width: 150px;
      height: 150px;
  }
  .logo{
      width: 50px;
      height: 50px;
      border-radius: 30%;
  }
  
  .title-color{
  color: #3C5E9B;
  }
  .icon-footer{
    width: 30px;
    height: 30px;
  }
  
  .tech-category{
    height: 150px;
    width: 150px;
    border-radius: 30%;
    background-color: #FFC831;
    box-shadow: inset 0 0 0 5px white ;
    padding: 5px;
    border: 1px solid #A8A8A8;
  }
  .plus-icon{
    width: 50px;
    height: 50px;
    
  }
  
  .bg-info{
    
    background-color: #3BCEC8 !important;
  }
  
  .circle {
    position: relative;
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    border: 5px solid #0E6E84;
    background-color: #0E6E84;
    box-shadow: inset 0 0 0 5px white ;
  }
  .number{
    color: white;
    font-size: 42px;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
  }
  .hours{
    color: #5D86B4 !important;
    
  }

  .bg-info{
      border-radius: 10px;
      margin: 40px 0px;
  }
  .project{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }